@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC&family=IM+Fell+English+SC&family=Newsreader&family=Rozha+One&display=swap');

body {
	font-family: 'IM Fell English SC', serif;
}

a {
	color: inherit;
	font-size: 20px;
}

#main {
	padding: 15px;
	box-shadow: 5px 10px 10px darkgrey;
	background-image: url("background.png");
	border: solid 1px black;
}

#navbar {
	display: flex;
	gap: 5%;
	align-items: center;
	justify-content: center;
}

#header {
	border-bottom: double;
	text-align: center;
	font-size: 3em;
	margin: 0;
}

#date {
	text-align: center;
	border-bottom: double;
	padding: 5px;
	margin-bottom: 15px;
}

#columns {
	column-count: 4;
	column-rule: 1px solid black;
	column-gap: 3%;
}

.column {
	text-align: justify;
}

.description {
	font-weight: bold;
	margin: 0;
	text-align: center;
}

.subheading {
	margin: 5px;
	margin-left: 0;
}

.small {
	width: 40%;
}

.coupon {
	border: dashed 3px black;
	margin-top: 3%;
	padding: 15px;
	padding-bottom: 0;
	margin-bottom: 10%;
}

#troublereading {
	background: transparent;
	border: none;
	font-family: 'IM Fell English SC', serif;
	font-size: 20px;
	text-decoration: underline;
	cursor: pointer;
	top: 10;
	left: 15;
}

#issue {
	right: 15;
	top: 10;
}

h5, h2, h3, h6, ul {
	margin: 0;
}

.left {
	text-align: left;
}

.ad {
	text-align: center;
}

.ad h1,
.ad p {
	margin: 0;
}

hr {
	border-color: black;
}

@media only screen and (max-width: 768px) {
	.column {
		flex: 50%;
		margin-bottom: 2%;
		padding-bottom: 2%;
		border-bottom: solid 1px black;
		border-right: none;
	}

	#columns {
		column-count: 1;
	}

	#troublereading {
		top: 7;
		left: 12;
		text-decoration: none;
	}
}